
# **Name: Aditya Iche**
# **Roll No. CS6-27**         **Batch : C62**
# **PRN: 202401100136**
#Topic : Enron Email Dataset EDS Theory Assignment 1
Link to the dataset used: https://www.kaggle.com/datasets/wcukierski/enron-email-dataset

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("wcukierski/enron-email-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/wcukierski/enron-email-dataset?dataset_version_number=2...

100%|██████████| 358M/358M [00:02<00:00, 143MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/wcukierski/enron-email-dataset/versions/2

## **Using a kaggle dataset for the Enrons. Following are the libraries used in the process of preprocessing the dataset and the doing the operations necessary for the assignment completion:**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
import kagglehub

In [ ]:
df = pd.read_csv('/root/.cache/kagglehub/datasets/wcukierski/enron-email-dataset/versions/2/emails.csv')

# Preview the columns
df.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [ ]:
#Extract Sender, Receiver, and Date
import re

# Define functions to extract metadata from message
def extract_sender(text):
    match = re.search(r"From: (.+)", str(text))
    return match.group(1).strip() if match else None

def extract_receiver(text):
    match = re.search(r"To: (.+)", str(text))
    return match.group(1).strip() if match else None

def extract_date(text):
    match = re.search(r"Date: (.+)", str(text))
    return match.group(1).strip() if match else None

# Apply to your DataFrame
df['sender'] = df['message'].apply(extract_sender)
df['receiver'] = df['message'].apply(extract_receiver)
df['date'] = df['message'].apply(extract_date)

In [ ]:
# Drop rows with missing fields
df.dropna(subset=['sender', 'receiver', 'date'], inplace=True)

# Convert date column to proper datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')

df = df.dropna(subset=['date'])

print(df['date'].dtype)

datetime64[ns, tzoffset('PDT', -25200)]

# **Now that the preprocessing is done, we can move on to the 20 problem statments that are relavant to this dataset and then their subsequent outputs:**

In [ ]:
# 1) Total number of emails in the dataset:
df.shape[0]

262812

In [ ]:
# 2. Number of unique senders:
df['sender'].nunique()

12036

In [ ]:
# 3. Top 5 most active senders:
df['sender'].value_counts().head(5)

sender
kay.mann@enron.com          8847
vince.kaminski@enron.com    6989
jeff.dasovich@enron.com     6525
pete.davis@enron.com        4997
tana.jones@enron.com        4936
Name: count, dtype: int64

In [ ]:
# 4. Number of emails sent by each sender:
emails_per_sender = df['sender'].value_counts()

In [ ]:
# 5. Top 5 most emailed recipients:
df['receiver'].value_counts().head(5)

receiver
pete.davis@enron.com         5006
tana.jones@enron.com         3812
sara.shackleton@enron.com    2911
jeff.dasovich@enron.com      2614
vkaminski@aol.com            2215
Name: count, dtype: int64

In [ ]:
# 6. Number of emails exchanged between specific sender-receiver pairs:
df.groupby(['sender', 'receiver']).size().sort_values(ascending=False).head(10)

sender                         receiver
pete.davis@enron.com           pete.davis@enron.com                                        4995
vince.kaminski@enron.com       vkaminski@aol.com                                           1934
enron.announcements@enron.com  all.worldwide@enron.com                                     1199
                               all.houston@enron.com                                       1076
soblander@carrfut.com          soblander@carrfut.com                                        804
kay.mann@enron.com             suzanne.adams@enron.com                                      742
vince.kaminski@enron.com       shirley.crenshaw@enron.com                                   593
steven.kean@enron.com          maureen.mcvicker@enron.com                                   578
no.address@enron.com           All Enron Worldwide@ENRON                                    517
                               All Enron Worldwide@ENRON <??SAll Enron Worldwide@ENRON>     446
dtype: int64

In [ ]:
#7. Total number of emails per day:
df['date'].dt.date.value_counts().sort_index()

date
1986-05-01     1
1998-05-27     1
1998-09-01     1
1999-04-04     2
1999-04-05     9
              ..
2002-07-10    35
2002-07-11    34
2002-07-12    19
2002-10-09     1
2024-05-26     1
Name: count, Length: 673, dtype: int64

In [ ]:
# 8. Total number of emails sent each month:
df['month'] = df['date'].dt.to_period('M')
df.groupby('month').size()

<ipython-input-60-3e5cf4a2ebe9>:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['month'] = df['date'].dt.to_period('M')

month
1986-05        1
1998-05        1
1998-09        1
1999-04       74
1999-05      660
1999-06      645
1999-07      857
1999-08     1058
1999-09     1235
1999-10     1392
2000-04     8563
2000-05    10179
2000-06    13568
2000-07    13590
2000-08    18951
2000-09    19840
2000-10    22048
2001-04    35450
2001-05    34790
2001-06    16159
2001-07     9770
2001-08     8635
2001-09    10622
2001-10    31757
2002-04      904
2002-05      905
2002-06      911
2002-07      244
2002-10        1
2024-05        1
Freq: M, dtype: int64

In [ ]:
#9. Day with the most emails sent:
df['date'].dt.date.value_counts().idxmax()

datetime.date(2001, 10, 25)

In [ ]:
#10. Number of emails sent during each hour of the day:
df['hour'] = df['date'].dt.hour
df['hour'].value_counts().sort_index()

hour
0      6337
1     13090
2     16859
3     17872
4     16989
5     14182
6     18896
7     21564
8     22387
9     22138
10    19023
11    14875
12    10625
13     9486
14     9008
15     7353
16     5210
17     3828
18     2669
19     2551
20     2174
21     1993
22     1643
23     2060
Name: count, dtype: int64

In [ ]:
#11. Number of internal emails (sender and receiver domain is "enron.com"):
df['internal'] = df.apply(lambda x: 'enron.com' in x['sender'] and 'enron.com' in x['receiver'], axis=1)
df['internal'].sum()

np.int64(182747)

In [ ]:
#12. Number of external emails:
(~df['internal']).sum()

np.int64(80065)

In [ ]:
#13. Average number of characters in an email message:
df['msg_length'] = df['message'].apply(len)
df['msg_length'].mean()

np.float64(2631.1110870127695)

In [ ]:
#14. Maximum email length and who sent it:
df.loc[df['msg_length'].idxmax(), ['sender', 'msg_length']]

sender        no.address@enron.com
msg_length                 1622422
Name: 114312, dtype: object

In [ ]:
#15. Number of emails that mention “meeting” (case-insensitive):
df['message'].str.contains('meeting', case=False).sum()

np.int64(33190)

In [ ]:
#16. Number of emails sent on weekends:
df['weekday'] = df['date'].dt.dayofweek
df[df['weekday'] >= 5].shape[0]

9304

In [ ]:
#17. Correlation between email length and time of day:
df[['hour', 'msg_length']].corr()

                hour  msg_length
hour        1.000000    0.014173
msg_length  0.014173    1.000000

In [ ]:
#18. Number of duplicate messages:
df.duplicated(subset=['message']).sum()

np.int64(0)

In [ ]:
#19. Number of emails per sender per month:
monthly_counts = df.groupby([df['sender'], df['month']]).size().unstack(fill_value=0)
print(monthly_counts)

month                                  1986-05  1998-05  1998-09  1999-04  \
sender
'todd'.delahoussaye@enron.com                0        0        0        0
--migrated--bmishkin@ercot.com               0        0        0        0
-nikole@excite.com                           0        0        0        0
-persson@ricemail.ricefinancial.com          0        0        0        0
01019@salespoint.dealerconnection.com        0        0        0        0
...                                        ...      ...      ...      ...
ztrizna@pol.net                              0        0        0        0
zufferli@enron.com                           0        0        0        0
zulie.flores@enron.com                       0        0        0        0
zwharton@dawray.com                          0        0        0        0
zzmacmac@aol.com                             0        0        0        0

month                                  1999-05  1999-06  1999-07  1999-08  \
sender
'todd'.delahoussaye@enron.com                0        0        0        0
--migrated--bmishkin@ercot.com               0        0        0        0
-nikole@excite.com                           0        0        0        0
-persson@ricemail.ricefinancial.com          0        0        0        0
01019@salespoint.dealerconnection.com        0        0        0        0
...                                        ...      ...      ...      ...
ztrizna@pol.net                              0        0        0        0
zufferli@enron.com                           0        0        0        0
zulie.flores@enron.com                       0        0        0        0
zwharton@dawray.com                          0        0        0        0
zzmacmac@aol.com                             0        0        0        0

month                                  1999-09  1999-10  ...  2001-07  \
sender                                                   ...
'todd'.delahoussaye@enron.com                0        0  ...        0
--migrated--bmishkin@ercot.com               0        0  ...        0
-nikole@excite.com                           0        0  ...        3
-persson@ricemail.ricefinancial.com          0        0  ...        0
01019@salespoint.dealerconnection.com        0        0  ...        0
...                                        ...      ...  ...      ...
ztrizna@pol.net                              0        0  ...        0
zufferli@enron.com                           0        0  ...        0
zulie.flores@enron.com                       0        0  ...        0
zwharton@dawray.com                          0        0  ...        0
zzmacmac@aol.com                             0        0  ...        0

month                                  2001-08  2001-09  2001-10  2002-04  \
sender
'todd'.delahoussaye@enron.com                0        0        1        0
--migrated--bmishkin@ercot.com               0        0        1        0
-nikole@excite.com                           0        0        0        0
-persson@ricemail.ricefinancial.com          5        0        0        0
01019@salespoint.dealerconnection.com        0        0        4        0
...                                        ...      ...      ...      ...
ztrizna@pol.net                              0        0        0        0
zufferli@enron.com                           0        0        0        0
zulie.flores@enron.com                       0        0        2        0
zwharton@dawray.com                          0        1        5        0
zzmacmac@aol.com                             0        0        2        0

month                                  2002-05  2002-06  2002-07  2002-10  \
sender
'todd'.delahoussaye@enron.com                0        0        0        0
--migrated--bmishkin@ercot.com               0        0        0        0
-nikole@excite.com                           0        0        0        0
-persson@ricemail.ricefinancial.com          0        0        0        0
01019@salespoint.dealerconnection.com        0        0        0        0
...                                        ...      ...      ...      ...
ztrizna@pol.net                              0        0        0        0
zufferli@enron.com                           0        0        0        0
zulie.flores@enron.com                       0        0        0        0
zwharton@dawray.com                          0        0        0        0
zzmacmac@aol.com                             0        0        0        0

month                                  2024-05
sender
'todd'.delahoussaye@enron.com                0
--migrated--bmishkin@ercot.com               0
-nikole@excite.com                           0
-persson@ricemail.ricefinancial.com          0
01019@salespoint.dealerconnection.com        0
...                                        ...
ztrizna@pol.net                              0
zufferli@enron.com                           0
zulie.flores@enron.com                       0
zwharton@dawray.com                          0
zzmacmac@aol.com                             0

[12036 rows x 30 columns]

In [ ]:
# 20. Sender who sent emails on the most number of distinct days:
df['day'] = df['date'].dt.date
print(df.groupby('sender')['day'].nunique().sort_values(ascending=False).head(1))

sender
gerald.nemec@enron.com    362
Name: day, dtype: int64